.chat-content-grid {
    display: grid;
    grid-template-rows: fit-content(100%) auto fit-content(100%);
    height: 100%;
    width: 100%;
}

.person-info-div {
}

.person-info-card {
    background-color: rgba(0, 0, 0, 0.05);
}

.person-info-card-content {
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    grid-column-gap: 12px;
    margin: 1em;
}

.messages-div {
    overflow: scroll;
    overflow-x: hidden;
}

.chat-message {
    margin-bottom: 6px;
    width: 100%;
}

.chat-card-light-theme {
    /*background-color: darkseagreen;*/
    background-color: rgba(82, 130, 255, 0.2);
}

.chat-card-dark-theme {
    background-color: rgba(133, 168, 255, 0.3);
}

.chat-card-content {
    margin: 6px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /*word-break: break-word;*/
    /*white-space: pre-wrap;*/
}

.owning-message {
    display: flex;
    justify-content: flex-end;
    margin-left: 20%;
    margin-right: 1%;
}

.not-owning-message {
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
    margin-right: 20%;
}

.write-message-form {
    display: grid;
    grid-template-columns: auto fit-content(100%);
}
